<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 align-self-center shadow p-3 mb-5 mt-5 bg-white rounded">
      <form [formGroup]="userForm" (onSubmit)="submitForm()" novalidate >
        <div class="form-group">
          <label for="email">Email<span class="red">*</span></label>

          <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="email" placeholder="Enter email">
          <span *ngIf="userFormErrors.email" class="validation">{{userFormErrors.email}}</span>
        </div>
        <div class="form-group">
          <label for="password">Select subscription</label>
        <select class="form-control" formControlName="subscription">
          <option [value]="level" *ngFor="let level of levels">{{level}}</option>
        </select>
        </div>
        <div class="form-group">
          <label for="password">Password<span class="red">*</span></label>
          <input type="text" class="form-control" formControlName="password" id="password" placeholder="Password">
          <span *ngIf="userFormErrors.password" class="validation">{{userFormErrors.password}}</span>
        </div>
        
        <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
        <button type="submit" class="btn btn-secondary"  data-toggle="modal" data-target="#confirmChanges"  [disabled]="userForm.pristine">Clear</button>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmChanges" tabindex="-1" role="dialog" aria-labelledby="confirmChanges" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure! reset form</p> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="clearForm()"  data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>