<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 align-self-center shadow p-3 mb-5 mt-5 bg-white rounded">
      <h4>
        <u>Form Data</u>
      </h4>
      <div *ngIf="userFormData" class="center mt-3">
        <label><b>Email :</b> </label> <span>{{userFormData.email}}</span>
        <br>
        <label><b>Subscription :</b> </label> <span>{{userFormData.subscription}}</span>
        <br>
        <label><b>Password :</b> </label> <span>{{userFormData.password}}</span>
      </div>


    </div>
  </div>
</div>